apiVersion: v1
kind: Deployment
metadata:
  name: java-app
  labels:
    app: sample-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sample-app
  template:
    metadata:
      labels:
        app: sample-app
    spec:
      containers:
      - name: sample-app
        image: saichandu5/sample-app
        ports:
        - containerPort: 8005
---

apiVersion: v1
kind: Service
metadata:
  name: sample-app
spec:
  type: LoadBalancer
  ports:
  - port: 8080
    targetPort: 8005
  selector:
    name: sample-app
